html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dot {
  fill: rgb(0, 0, 0);
  opacity: 0.1;
  z-index: 2;
  position: relative;
}

.p0 {
  fill: rgb(255, 0, 0);
}

.p1 {
  fill: rgb(17, 0, 255);
}

.p2 {
  fill: rgb(219, 209, 70);
}

.p3 {
  fill: rgb(5, 156, 0);
}

.line-plot.p0 {
  fill: none;
  stroke: rgb(255, 0, 0);
}

.line-plot.p1 {
  fill: none;
  stroke: rgb(17, 0, 255);
}

.line-plot.p2 {
  fill: none;
  stroke: rgb(219, 209, 70);
}

.line-plot.p3 {
  fill: none;
  stroke: rgb(5, 156, 0);
}

.band {
  opacity: 0.8;
}

.mark {
  fill: black;
}

.dot.hidden {
  opacity: 0;
}

input[type='range'] {
  width: 1500px;
}
