html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.dot {
  fill: rgb(0, 0, 0);
  opacity: 0.1;
  z-index: 2;
  position: relative;
  visibility: visible;
}

:root {
  --p0: rgb(255, 0, 0);
  --p1: rgb(17, 0, 255);
  --p2: rgb(254, 228, 64);
  --p3: rgb(5, 156, 0);
}

.p0 {
  fill: var(--p0);
}

.p1 {
  fill: var(--p1);
}

.p2 {
  fill: var(--p2);
}

.p3 {
  fill: var(--p3);
}

div.p0 {
  background-color: var(--p0);
}

div.p1 {
  background-color: var(--p1);
}

div.p2 {
  background-color: var(--p2);
}

div.p3 {
  background-color: var(--p3);
}

.line {
  fill: none;
}

.line.p0 {
  stroke: var(--p0);
}

.line.p1 {
  stroke: var(--p1);
}

.line.p2 {
  stroke: var(--p2);
}

.line.p3 {
  stroke: var(--p3);
}

.line.p5 {
  fill: none;
  stroke: rgb(0, 0, 0);
}

.band {
  opacity: 0.8;
}

.mark {
  fill: black;
}

.dot.hidden {
  visibility: hidden;
}

.dot.antihighlight {
  opacity: 0.01;
}

.dot.highlight {
  opacity: 1;
  visibility: visible;
  stroke: black;
}

input[type='range'] {
  width: 1500px;
}

.inputbutton {
  position: absolute;
  height: 128px;
  width: 128px;
}

.tooltip-text {
  background-color: white;
  position: absolute;
  z-index: 5;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  visibility: hidden;
}

.tooltip-text > p {
  margin: 0;
  font-size: 12px;
}

.hoverable:hover {
  filter: invert(1);
}

.hoverable2:hover {
  opacity: 0.5;
}

.subtitle {
  margin: 0;
  font-size: 12px;
}

.title {
  margin: 0;
  font-size: 16px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
